body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
  
  ul {
    list-style: none;
  }
  ul li {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
  }
  .add-buttons {
    display: flex;
    flex-direction: row;
  }
  button {
    color: black;
    background-color: #4d7e22;
  }
  #task-list {
    display: flex;
    width: 100%;
  }
  